<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- Want to use simulation time -->
    <param name="/use_sim_time" value="true" />

    <!-- Args -->
    <arg name="config_file" default="$(find chungus)/config/big_chungus.yaml"/>

    <!-- Launch the node for traversability prediction with CHUNGUS -->
    <rosparam command="load" file="$(arg config_file)" ns="chungus_predictor_node"/>
    <node name="chungus_predictor_node" pkg="chungus" type="chungus_traversability_predictor.py" required="true" output="screen" />

    <!-- Open rviz window -->
    <include file="$(find chungus)/launch/viz.launch"/>

</launch>